.b-issues-list {
  border-top: 1px solid #1abc9c;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
  padding: 20px;
}

.b-issue__title {
  font-size: 18px;
}
