<header class="b-header">

  <!--[if lt IE 7]>
  <p class="browsehappy">Nos está visitando con un <strong>navegador antiguo</strong>. Para disfrutar este
    sitio que hemos preparado para ti, por favor descarga un navegador más nuevo y mejor <a
      href="http://browsehappy.com/">aquí</a>, gracias.</p>
  <![endif]-->

  <nav class="navbar navbar-default webtraining-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div id="logo" class="logo">
              <a routerLink="/" class="b-navbar-brand" href="/">
                <i class="fa fa-area-chart" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              <li class="first leaf active">
                <a routerLink="/proyectos" title="Cursos" class="active-trail active">Proyectos</a>
              </li>
              <li class="leaf">
                <a routerLink="/issues" title="Iniciar sesión" class="">Issues</a>
              </li>
              <!--<li data-link="#" class="leaf">-->
              <!--<a href="#" [routerLink]="['Events']"-->
              <!--title="Eventos">Eventos</a>-->
              <!--</li>-->
              <!--<li data-link="#" class="last leaf">-->
              <!--<a href="#" [routerLink]="['Login']" title="Iniciar sesión">Iniciar sesión</a>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
