.b-project-list-sorting {

}
.b-project-list {
  border-top: 1px solid #1abc9c;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
  padding: 20px;
}

.b-project {
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}

.b-project__title {
  font-size: 18px;
}

.b-btn-new-project {
  height: 40px;
}
